/* CCS for aquaFB */
@media (min-width: 280px) {body {font-size: 12px;} }
@media (min-width: 320px) {body {font-size: 14px;} }
@media (min-width: 423px) {body {font-size: 17px;} }
@media (min-width: 526px) {body {font-size: 20px;} }
@media (min-width: 768px) {body {font-size: 23px;} }
@media (min-width: 992px) {body {font-size: 28px;} }
@media (min-width: 1200px) {body {font-size: 34px;} }

html{
	height: 100%;
}
body{
   height: 100%;
   text-align: center;
   font-family: arial,sans-serif;
   background: url("img/readings2.png"),url("img/background2plus.png"); 
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   background-position: center center;
   margin: 0;
}
.top-strip{
	height: 2.7em;
	width: 100%;
	background-color: #000000;
	border-style: none;
	color: #ffffff;
}
.main-heading{
	font-size: 1em;
	padding-top: 0.3em;
}
.top-strip-text{
	font-size: 0.7em;
	float:left;
	margin-left: 1em;
}
.date-box{
	float: right;
	margin-right: 1em;
}
.bottom-strip{
	width: 100%;
	background-color: #000000;
	border-style: none;
	color: #ffffff;
	position: absolute;
	bottom: 0;
}
.legend-box{
	display: none;
	background-color: #ffffff;
    padding: 0.2em;
	float: left;
	margin-left: 1em;
	position: absolute;
	color: #000000;
	line-height: 0.5;
}
.legend{
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: left;
	font-size: 0.8em;
}
.legend-title{
	padding-bottom: 0.5em;
}
.x-close{
	text-align: right;
	cursor: pointer;
	height: 0.6em;
    font-size: 1.2em;
}
.key{
	width: 1em;
	height: 1em;
}
.key-label{
	padding-left: 0.3em;
}
.legend-button-box{
    float: left;
	display: inline-block;
	padding: 0.5em;
    vertical-align: top;
}
.legend-button{
	cursor: pointer;
	width: 6em;
	height: 1.75em;
	font-size: 1em;
}
.opacity-title{
	padding-bottom: 0.2em;
}
.opacity-box{
	display: inline-block;
    vertical-align: top;
}
.opacity-radio{
	width: 5em;
}
.zoom-title{
	padding-bottom: 0.3em;
}
.zoom-box{
	display: inline-block;
    vertical-align: top;
    float: right;
}
.zoom-btn{
	width: 4em;
	height: 1.3em;
	border-radius: 1.3em;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
	display: inline-block;
	padding: 0;
}
@media (max-width: 526px){
	.legend-box{
		bottom: 8em;
	}
	.bottom-strip{
		height: 10em;
		font-size: 0.7em;
		padding-top: 0.5em;
	}
	.opacity-box{
		width: 4em;
	}
	.opacity-title{
		text-align: left;
	}
	.opacity-radio{
		text-align: left;
	}
	.opacity-radio-btn{
		margin-left: 0em;
		margin-top: 0.8em;
	}
	.zoom-box{
		width: 4em; 
		margin-right: 1em;
	}
	.zoom-btn{
		margin-top: 1.2em;
	}
}
@media (min-width: 526px){
	.legend-box{
		bottom: 3em;
	}
	.bottom-strip{
		height: 3.2em;
		font-size: 0.7em;
		padding-top: 0.5em;
	}
	.opacity-box{
		width: 16em;
	}
	.opacity-radio{
		float: left;
		display: inline;
	}
	.zoom{
		width: 4em;
		float: left;
		display: inline-block;
	}
}